:root {
    --color-white: #fff;
    --color-main: #3c3b37;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; 
    box-sizing: border-box; 
}

body {
    color: var(--color-main);
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

.header {
    background-color: #fff;
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #767772;
}

.img--logo {
    width: 10rem;
    height: 3rem;
    margin-left: 1.5rem;
}

.search__icon, 
.heart--icon, 
.shopping-cart--icon, 
.bell--icon {
    width: 2rem;
    height: 2rem;
}

.nav--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--list__item {
    font-size: 1.4rem;
}

.nav--list__item:not(:last-child) {
    margin-right: 2rem;
}


.form {
    flex: 0 0 40%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.search__input {
    font-family: inherit;
    font-size: 1.4rem;
    color: inherit;
    padding: .7rem 5rem;
    border: none;
    border-radius: 10rem;
    border: 1px solid #767772;
    background-color: #fbfcf7;
    width: 100%;
    height: 5rem;
    margin-left: -3.5rem;
}

.search__icon {
    fill: #767772;
}

.search__input:focus {
    outline: none;
}

.search__input:focus + .search__button{
    background-color: #fbfcf7;
}

.search__button {
    border: none;
    background-color: #fbfcf7;
    cursor: pointer;
}

.search__button:focus {
    outline: none;
}

.user__name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
    margin-right: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: .8rem;
    border-radius: 50%;
    background-color: #9C467F;
}

.search__icon {
    color: #73726c;
}

.learn--container {
    margin-top: 3rem;
    margin-bottom: -5rem;
    margin-left: 2rem;
}

.heading--secondary {
    font-size: 3.5rem;
}

.heading--tertiary {
    margin-top: 2rem;
    font-size: 2rem;
}

.card--container {
    margin-top: 7.5rem;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    flex: 0 0 18%;
    background-color: #fff;
    height: 30rem;
    cursor: pointer;
}

.card--img {
    width: 100%;
    border-radius: .3rem;
}

.card__content {
    margin-top: .8rem;
    padding: 0 .5rem;
}

.card__heading {
    font-size: 1.6rem;
    letter-spacing: -.02rem;
}

.star--icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: #e88d2e;
}

.rating-text {
    font-size: 1.5rem;
}

.course--tutor, 
.star--rating,
.course--price {
    margin-top: .5rem;
}

.star--rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.rating-text {
    font-weight: 700;
    color: #9f6633;
    color: #af5634;
    margin-right: .5rem;
}

.reviews {
    margin-left: .5rem;
}

.course--tutor {
    font-size: 1.2rem;
    font-weight: 300;
}

.course--price {
    font-size: 1.5rem;
    font-weight: 700;
}

.best-seller--btn {
    padding: .4rem .7rem;
    color: #633f00;
    font-weight: 700;
    border-radius: .4rem;
    border: none;
    background-color: #fcdb8d;
}

.mt-sm {
    margin-top: .8rem;
}

.hidden {
    margin: 3rem 10rem;
    display: none;
}

.hidden__card {
    background-color: tomato;
    background-color: #fbfcf7;
    font-size: 1.3rem;
    width: 30%;
    height: 47.5rem;
    padding: 2rem 3rem;
    line-height: 1.7;
}

.hidden__header {
    font-weight: 700;
    line-height: 1.5;
}

.check--icon {
    width: 1.5rem;
    height: 1.5rem;
}
.updated--text {
    display: inline;
    color: #2D8643;
    margin-left: .8rem;
}

.updated--month {
    font-weight: 700;
}

.description-text {
    font-size: 1.5rem;
}

.description--list {
    display: flex;
    flex-direction: column;
}

.description__item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    margin-left: 1rem;
}

.cart--checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn--cart {
    text-align: center;
    text-decoration: none;
    border-radius: .2rem;
    color: #fff;
    font-weight: 700;
    padding: 1.3rem 2rem;
    background-color: #ec5252;
    flex: 0 0 80%;
    transition: all .2s;
}

.btn--cart:hover {
    background-color: #e61c1c;
}

.cart--heart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    border-radius: 50%;
    border: 1px solid #779395;
}

.heart--icon--green {
    fill: #34767e;
    width: 2.5rem;
    height: 2.5rem;
}